# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  maven: circleci/maven@1.2.0

jobs:
  # Below is the definition of your job to build and test your app, you can rename and customize it as you want.
  build-and-test:
    # These next lines define a Docker executor: https://circleci.com/docs/2.0/executor-types/
    # You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # Be sure to update the Docker image tag below to openjdk version of your application.
    # A list of available CircleCI Docker Convenience Images are available here: https://circleci.com/developer/images/image/cimg/openjdk
    docker:
      - image: cimg/openjdk:11.0

    working_directory: ~/project/backend/microservice-book
    steps:
      - checkout

      # Checkout the code as the first step.
      # Use mvn clean and package as the standard maven build phase

      - run:
          working_directory: ~/project/backend/microservice-book
          name: current files
          command: ls
      # Then run your tests!
      - run:
          name: where am i
          command: pwd

      - run:
          name: find pom
          command: find . pom.xml

        
      # run tests!
      - run: mvn test

workflows:
    example-workflow:
      jobs:
        - build-and-test
        - maven/test:
            app_src_directory: backend/microservice-book 
            test_results_path: backend/microservice-book/target/surefire-reports 
